<%- include("../partials/header") -%> 
<link rel="stylesheet" href="/css/admin/admin.css">
<title>Admin review section | myBooks</title>
<meta name="description" content="Admin's panel of mybooks">
<meta name="keywords" content="admin messages, mybooks messages, messages">
</head> 
    
<style>
.course-books{
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
        margin-left: 50px; 
        margin-right: 50px; 
    }
    
    @media(max-width:1050px){
        .course-books{   
          margin-left: 0px; 
          margin-right: 0px; 
        }
    }
    @media(max-width:460px){
        .book-outer{
            margin-left:24px;
            margin-right:24px;
            transform:scale(1.15);
            margin-top:27px;
            margin-bottom:27px;
        }
    }
    @media(max-width:370px){
        .book-outer{
            margin-left:15px;
            margin-right:15px;
            transform:scale(1);
            margin-top:8px;
            margin-bottom:8px;
        }
        
    }
    @media(max-width:340px){
        .book-outer{
            margin-left:10px;
            margin-right:10px;
        }
        
    }
</style>

<body >
    <div class="nanobar my-class" id="my-id" style="position: fixed;">
      <div class="bar"></div>
    </div>
    <nav class=".navbar">
        <div id="navbar">
            <ul id="navbar-ul1">
                <li id="icon"><i class="fas fa-book-reader"></i></li>
                <div id="navigate">
                    <li onclick="location.href='/admin'">Admin's panel</li>

                    <form id="searchbar" method="get" action="/admin">
                        <input type="text" name="searchtag" placeholder="search books..." required>
                        <button><i class="fas fa-search"></i> Search</button>
                    </form>
                    <form id="searchbar" class="messages-panel">
                        <button type="button" onclick="location.href='/admin/messages'"><i class="fas fa-envelope-open-text"></i> Messages</button>
                    </form>
                    <form id="searchbar" class="messages-panel">
                        <button type="button" onclick="location.href='/admin/under-review'"><i class="fas fa-clipboard-list"></i> Review section</button>
                    </form>
                </div>  
                <ul id="navbar-ul2">
                    <div id="hide-access">
                        <notauth>
                            <button onclick="location.href='/login'">Login</button>
                            <button onclick="location.href='/signup'"><i class="fas fa-sign-in-alt"></i> SignUp</button>
                        </notauth>
                        <auth>
                            <button onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</button>
                        </auth>
                    </div>
                    <button onclick="location.href='/admin/upload-edit/newbook'"><i class="fas fa-plus"></i> Upload</button>
                    <button onclick="location.href='/admin/members'"><i class="fas fa-users-cog"></i></button>

                </ul>
            </ul> 
        </div>
    </nav>
    <div class="top_bar">
        <div class="menu-btn">
            <i onclick="location.href='/admin/upload-edit/newbook'" class="fas fa-upload"></i>
        </div>
        <div class="msg-btn">
            <i onclick="location.href='/admin/messages'" class="fas fa-envelope-open-text"></i>
        </div>
        <div class="review-btn">
            <i onclick="location.href='/admin/under-review'" class="fas fa-clipboard-list"></i>
        </div>
        <div class="member-btn">
            <i onclick="location.href='/admin/members'" class="fas fa-users-cog"></i>
        </div>
        <div class="nav-search-icon">
            <i class="fas fa-search"></i>
        </div>
        <form class="nav-search-input" method="get" action="/admin">
            <input type="text" name="searchtag" placeholder="search books..." required>
            <button><i class="fas fa-search"></i></button>
        </form>
        <h4 onclick="location.href='/admin'" id="topbar-admin-text">Admin</h4>
        <div class="nav-icon">
            <i class="fas fa-book-reader"></i>
        </div>
    </div>
    
    <main_body class="admin_under_review">
        <section id="book_review_section">
            <div class="course">
              
                <% if(books.length==0){ %>
                    <div id="no_favbooks">
                        <i class="fas fa-frown fa-4x"></i>
                        <h2>No new books to review !</h2>
                    </div>
                    <!--<style>
                        footer{
                          text-align: center;
                          background: none;
                          position: fixed;
                          bottom:0px;
                          width: 100%;
                        }
                        @media(max-height:840px){
                             footer{
                              text-align: center;
                              background: none;
                              position: relative;
                              bottom:-15px;
                              width: 100%;
                            }
                        }
                    </style>-->
                <% } else {%>
                    <br>
                    <h2 class="course-title">Review section</h2>
                    <hr>
                    <br>
                    <div class="course-books" id="list_fav_books">
                        <% books.forEach(function(book){ %>
                           
                        <div class="book-outer" id="<%=book.id%>">
                           <div class="book">
                               <button onclick="review_book('<%=book.id%>')" class="floating-add2"><i class="fas fa-clipboard-list fa-2x"></i></button>
                               <button onclick="location.href='/admin/upload-edit/<%=book.id%>/?&isupt=Update'" class="floating-edit"><i class="far fa-edit fa-2x"></i></button>
                               <button onclick="remove_book('<%=book.id%>')" class="floating-delete"><i class="fas fa-trash-alt fa-2x"></i></button>
                               <img onclick="location.href='/book/<%=book.id%>'" class="book-cover" src="<%=book.book_cover_cloudinary_link%>" alt="" >
                               <hr>
                               <div class="user-download">
                                   <a class="book-read" href="<%=book.book_file_link%>" target="_blank">Read</a>
                                   <button onclick="location.href='/reviews/<%=book.id%>'" class="review-book"><i class="fas fa-comment-dots fa-2x"></i></button>
                                   <button onclick="add_to_fav('<%=book.id%>')" id="add_fav"><i class="fas fa-heart fa-2x <%=book.id%>"></i></button>
                               </div>
                           </div>
                           <% if(book.book_name.length<=65){ %>
                               <p class="book-name"><%=book.book_name%></p>
                           <% } else {%>
                               <p class="book-name"><%=book.book_name.substr(0,65)%> ...</p>
                           <% } %>
                        </div>  
                              
                    <% }) %>   
                   </div>
    
                   
              <% } %>   
            </div> 
            
        </section>
    </main_body>
    
    <div id="snackbar">Successfully reviewed</div>
    <br>
    <footer>
       
  <%- include("../partials/footer") -%>      
    
        