
<%- include("../partials/header") -%>   
 <link rel="stylesheet" href="/css/client/book_detail.css">
 <title><%=book.book_name%> | myBooks</title>
 <meta name="description" content="Download or read <%=book.book_name%> for free on myBooks">
 <meta name="keywords" content="download <%=book.book_name%>,<%=book.book_name%>,free <%=book.book_name%> pdf">
</head>
<!--<style>
    footer{
    text-align: center;
    background: none;
    position: fixed;
    bottom:0px;
    width: 100%;
  }
  @media(max-width:1000px){
       footer{
        text-align: center;
        background: none;
        position: relative;
        bottom:-15px;
        width: 100%;
      }
  }
  @media(min-width:1000px) and (max-height:1070px){
       footer{
        text-align: center;
        background: none;
        position: relative;
        bottom:-15px;
        width: 100%;
      }
  }

</style>-->

<body >
     
    <div class="nanobar my-class" id="my-id" style="position: fixed;">
      <div class="bar"></div>
    </div>
    <nav class=".navbar">
        <div id="navbar">
            <ul id="navbar-ul1">
                <li id="icon"><i class="fas fa-book-reader"></i></li>
                <div id="navigate">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/mybooks">Your Books</a></li>

                    <form id="searchbar" method="get" action="/search">
                        <input type="text" name="search_item" placeholder="search books..." required>
                        <button><i class="fas fa-search"></i> Search</button>
                    </form>
                    <form class="course-sel">
                        <button class="dropdown"> <i class="fas fa-caret-right"></i> Books category</button>
                        <%- include("../drop-links/links") -%>
                    </form>

                </div>  
                <ul id="navbar-ul2">
                    <div id="hide-access">
                       <notauth>
                            <button onclick="location.href='/signup'"><i class="fas fa-sign-in-alt"></i> SignUp</button>
                            <button onclick="location.href='/login'">Login</button>
                        </notauth>
                        <auth>
                            <button onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</button>
                        </auth>
                    </div>
                    <button onclick="location.href='/upload'"><i class="fas fa-plus"></i> Upload</button>
                </ul>
            </ul> 
        </div>
    </nav>
    <div class="top_bar">
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="msg-btn">
            <i onclick="location.href='/upload'" class="fas fa-upload""></i>
        </div>
        <div class="nav-search-icon">
            <i class="fas fa-search"></i>
        </div>
        <form class="nav-search-input" method="get" action="/search">
            <input type="text" name="search_item" placeholder="search books..." required>
            <button><i class="fas fa-search"></i></button>
        </form>
        
        <div class="nav-icon">
            <i class="fas fa-book-reader"></i>
        </div>
    </div>
    
    <div class="side-bar">
        <div class="close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="nav-upload-btn">
            <button onclick="location.href='/upload'"><i class="fas fa-plus"></i> Upload</button>
        </div>
        <div class="menu">
            <div class="item">
                <a href="/home"><i class="fas fa-house-user"></i> Home</a>
            </div>
            <div class="item">
                <a href="/about"><i class="fas fa-info-circle"></i> About us</a>
            </div>
            <div class="item">
                <a href="/contact"><i class="fas fa-envelope"></i> Contact us</a>
            </div>
            <div class="item">
                <a href="/mybooks"><i class="fas fa-book-open"></i> Your books</a>
            </div>
            <div class="item">
                <a class="sub-btn"><i class="fas fa-book"></i> Books Category<i class="fas fa-angle-right dropdown-bar"></i></a>
                <%- include("../drop-links/sidebar_links") -%>
            </div>
            <div class="side-login">
                <notauth>
                  <button onclick="location.href='/login'">Login</button>
                  <button onclick="location.href='/signup'"><i class="fas fa-sign-in-alt"></i> SignUp</button>
                </notauth>
                <auth>
                    <button onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </auth>
            </div>
        </div>
    </div>
    <br>
    <main_body class="main_book_details">
        <section id="book-section">
            <br>
            <div id="book_details">
                <div class="book_layout">
                    <div class="book_img">
                        <img src="<%=book.book_cover_cloudinary_link%>" alt="">
                    </div>
                    <div class="book_detail">
                        <h3>&nbsp;<%=book.book_name%><span> • uploaded by <%=book.uploader_name%></span></h3>
                        <hr>
                        <% if(book.author.length>0){ %>
                          <p><span>Authors - </span>
                              <% book.author.forEach((author,i)=>{ %>
                                  <% if(i==0) { %> 
                                      <%=author%> 
                                  <% } else { %>
                                     , <%=author%>
                                  <% } %>
                              <% }) %>
                          </p>
                        <% } %>
                        <% if(book.publisher!=null){ %>
                          <p><span>Publisher - </span>
                              <%=book.publisher%>
                          </p>
                        <% } %>
                        <p><span>Category - </span>
                          <% book.category.forEach((ctgry,i)=>{ %>
                                  <% if(i==0) { %> 
                                      <%=ctgry.book_subcategory%>
                                  <% } else { %>
                                  , <%=ctgry.book_subcategory%>
                                  <% } %>
                          <% }) %>
                        </p>
                        <% if(book.book_description!=null && book.book_description!=""){ %>
                          <p><span>Description - </span><%=book.book_description%></p>
                        <% } %>
                    </div>
                </div>
                <br>
                <div class="sharethis-inline-reaction-buttons"></div>
                <div class="book_btns" align="center">
                      <button onclick="location.href='<%=book.book_file_download_link%>'" class="dwn"><i class="fas fa-cloud-download-alt"></i> Download</button>      
                      <button onclick="location.href='<%=book.book_file_link%>'" class="rd"><i class="fas fa-book-open"></i> Read</button>      
                      <button onclick="location.href='/reviews/<%=book.id%>'" class="rw"><i class="fas fa-comments"></i> Reviews</button>      
                      <button onclick="add_to_fav('<%=book.id%>')"  class="<%=book.id%>-fav fav"><i class="fas fa-heart far "></i> Add to favourite</button>      
                </div>
                <div class="sharethis-inline-share-buttons"></div>
                <br><br>
            </div>
            <div id="help">
                <button class="font-design-b" id="f-btn" onclick="showfeed()"><i class="fas fa-pen"></i> feedback</button>
                <div>
                  <form class="submitfd" id="feedback">
                      <p class="font-design-p">Help us to imrove our site</p>
                      <hr>
                      <textarea name="text" id="feedtxt" cols="6" rows="6" placeholder="Type here" required></textarea>
                      <button class="font-design-b feed-btn" id="fd" type="submit">Submit</button>
                      <hr>
                      <br>
                  </form>
                </div>
            </div>    
          </section>
          
    </main_body>
    
    <footer>
        <div>
            <br>
            <notauth>
               <button onclick="location.href='/login'">Login</button>
               <button onclick="location.href='/signup'">SignUp</button>
               <button onclick="location.href='/auth/google'" class="google"><i class="fab fa-google"></i> SignIn</button>
            </notauth>
        </div>
  <%- include("../partials/footer") -%>      
    
        