 
<%- include("../partials/header") -%>    
<title>myBooks -all your books here to explore</title>
 <meta name="description" content="Download your all favourite course books from here for free with just few clicks.">
 <meta name="keywords" content="free Books,course books,Download free books,mybooks,mybooks-free">
</head>

<body >

    <div class="nanobar my-class" id="my-id" style="position: fixed;">
      <div class="bar"></div>
    </div>
    <nav class=".navbar">
        <div id="navbar">
            <ul id="navbar-ul1">
                <li id="icon"><i class="fas fa-book-reader"></i></li>
                <div id="navigate">
                    <li class="nav-active"><a href="/home">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/mybooks">Your Books</a></li>

                    <form id="searchbar" method="get" action="/search">
                        <input type="text" name="search_item" placeholder="search books..." required>
                        <button><i class="fas fa-search"></i> Search</button>
                    </form>
                    <form class="course-sel">
                        <button class="dropdown"> <i class="fas fa-caret-right"></i> Books category</button>
                        <%- include("../drop-links/links") -%>
                    </form>

                </div>  
                <ul id="navbar-ul2">
                    <div id="hide-access">
                       <notauth>
                            <button onclick="location.href='/signup'"><i class="fas fa-sign-in-alt"></i> SignUp</button>
                            <button onclick="location.href='/login'">Login</button>
                        </notauth>
                        <auth>
                            <button onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</button>
                        </auth>
                    </div>
                    <button onclick="location.href='/upload'"><i class="fas fa-plus"></i> Upload</button>
                </ul>
            </ul> 
        </div>
    </nav>
    <div class="top_bar">
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="nav-search-icon">
            <i class="fas fa-search"></i>
        </div>
        <form class="nav-search-input" method="get" action="/search">
            <input type="text" name="search_item" placeholder="search books..." required>
            <button><i class="fas fa-search"></i></button>
        </form>
        <div class="msg-btn">
            <i onclick="location.href='/upload'" class="fas fa-upload""></i>
        </div>
        <div class="nav-icon">
            <i class="fas fa-book-reader"></i>
        </div>
    </div>
    
    <div class="side-bar">
        <div class="close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="nav-upload-btn">
            <button onclick="location.href='/upload'"><i class="fas fa-plus"></i> Upload</button>
        </div>
        <div class="menu">
            <div class="item side-active">
                <a href="/home"><i class="fas fa-house-user"></i> Home</a>
            </div>
            <div class="item">
                <a href="/about"><i class="fas fa-info-circle"></i> About us</a>
            </div>
            <div class="item">
                <a href="/contact"><i class="fas fa-envelope"></i> Contact us</a>
            </div>
            <div class="item">
                <a href="/mybooks"><i class="fas fa-book-open"></i> Your books</a>
            </div>
            <div class="item">
                <a class="sub-btn"><i class="fas fa-book"></i> Books Category<i class="fas fa-angle-right dropdown-bar"></i></a>
                <%- include("../drop-links/sidebar_links") -%>
            </div>
            <div class="side-login">
                <notauth>
                  <button onclick="location.href='/login'">Login</button>
                  <button onclick="location.href='/signup'"><i class="fas fa-sign-in-alt"></i> SignUp</button>
                </notauth>
                <auth>
                    <button onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </auth>
            </div>
        </div>
    </div>
    <br>
    <main_body class="main_index">
        <section>
        
            <div class="course">
                <h2 class="course-title">All books</h2>
                <button onclick="location.href='/books?searchtag=All books'" class="guide-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>
                <button class="bookNavigate-r"><i class="fas fa-angle-double-right"></i></button>
                <button class="bookNavigate-l"><i class="fas fa-angle-double-left"></i></button>
                <hr>
                <div class="books">
                <% books.slice(0,15).forEach(function(book){ %>
                    <div class="book-outer" >
                        <div class="book">
                            <button onclick="location.href='<%=book.book_file_download_link%>'" class="floating-add"><i class="fas fa-cloud-download-alt fa-2x"></i></button>
                            <img onclick="location.href='/book/<%=book.id%>'" class="book-cover" src="<%=book.book_cover_cloudinary_link%>" alt="" >
                            <hr>
                            <div class="user-download">
                                <a class="book-read" href="<%=book.book_file_link%>" target="_blank">Read</a>
                                <button onclick="location.href='/reviews/<%=book.id%>'" class="review-book"><i class="fas fa-comment-dots fa-2x"></i></button>
                                <button onclick="add_to_fav('<%=book.id%>')" id="add_fav"><i class="fas fa-heart fa-2x <%=book.id%>"></i></button>
                            </div>
                        </div>
                        <% if(book.book_name.length<=65){ %>
                            <p class="book-name"><%=book.book_name%></p>
                        <% } else {%>
                            <p class="book-name"><%=book.book_name.substr(0,65)%> ...</p>
                        <% } %>
                    </div>   
                <% }) %>
                <div class="show_more_books">
                   <a href="/books?searchtag=All books">Show more..</a> 
                </div>
                </div>
            </div> 
            <div class="course">
                <h2 class="course-title">Bachelor of Technology (B.Tech)</h2>
                <button onclick="location.href='/books?searchtag=Bachelor of Technology (B.Tech)'" class="guide-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>
                <button class="bookNavigate-r"><i class="fas fa-angle-double-right"></i></button>
                <button class="bookNavigate-l"><i class="fas fa-angle-double-left"></i></button>
                <hr>
                <div class="books">
                <% var i=0; %>
                <% books.forEach(function(book){ %>
                   <% if(book.category.findIndex(category => category.book_category == "Bachelor of Technology (B.Tech)")!=-1 && i<15) {%>
                    <% i=i+1 %>
                    <div class="book-outer" >
                        <div class="book" >
                            <button onclick="location.href='<%=book.book_file_download_link%>'" class="floating-add"><i class="fas fa-cloud-download-alt fa-2x"></i></button>
                            <img onclick="location.href='/book/<%=book.id%>'" class="book-cover" src="<%=book.book_cover_cloudinary_link%>" alt="" >
                            <hr>
                            <div class="user-download">
                                <a class="book-read" href="<%=book.book_file_link%>" target="_blank">Read</a>
                                <button onclick="location.href='/reviews/<%=book.id%>'" class="review-book"><i class="fas fa-comment-dots fa-2x"></i></button>
                                <button onclick="add_to_fav('<%=book.id%>')" id="add_fav"><i class="fas fa-heart fa-2x <%=book.id%>"></i></button>
                            </div>
                        </div>
                        <% if(book.book_name.length<=65){ %>
                            <p class="book-name"><%=book.book_name%></p>
                        <% } else {%>
                            <p class="book-name"><%=book.book_name.substr(0,65)%> ...</p>
                        <% } %>
                    </div>  
    
                  <% } %> 
                <% }) %>
                <div class="show_more_books">
                   <a href="/books?searchtag=Bachelor of Technology (B.Tech)">Show more..</a> 
                </div>
                </div>
            </div> 
    
    
            <div class="course">
                <h2 class="course-title">Bachelor of Science (B.Sc)</h2>
                <button onclick="location.href='/books?searchtag=Bachelor of Science (B.Sc)'" class="guide-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>
                <button class="bookNavigate-r"><i class="fas fa-angle-double-right"></i></button>
                <button class="bookNavigate-l"><i class="fas fa-angle-double-left"></i></button>
                <hr>
                <div class="books">
                <% var i=0; %>
                <% books.forEach(function(book){ %>
                   <% if(book.category.findIndex(category => category.book_category === "Bachelor of Science (B.Sc)")!=-1 && i<15) {%>
                   <% i=i+1 %>
                    <div class="book-outer" >
                        <div class="book">
                            <button onclick="location.href='<%=book.book_file_download_link%>'" class="floating-add"><i class="fas fa-cloud-download-alt fa-2x"></i></button>
                            <img onclick="location.href='/book/<%=book.id%>'" class="book-cover" src="<%=book.book_cover_cloudinary_link%>" alt="" >
                            <hr>
                            <div class="user-download">
                                <a class="book-read" href="<%=book.book_file_link%>" target="_blank">Read</a>
                                <button onclick="location.href='/reviews/<%=book.id%>'" class="review-book"><i class="fas fa-comment-dots fa-2x"></i></button>
                                <button onclick="add_to_fav('<%=book.id%>')" id="add_fav"><i class="fas fa-heart fa-2x <%=book.id%>"></i></button>
                            </div>
                        </div>
                        <% if(book.book_name.length<=65){ %>
                            <p class="book-name"><%=book.book_name%></p>
                        <% } else {%>
                            <p class="book-name"><%=book.book_name.substr(0,65)%> ...</p>
                        <% } %>
                    </div>  
    
                  <% } %> 
                <% }) %>
                <div class="show_more_books">
                   <a href="/books?searchtag=Bachelor of Science (B.Sc)">Show more..</a> 
                </div>
                </div>          
            </div>
    
    
            <div class="course">
                <h2 class="course-title">Bachelor of Arts (BA)</h2>
                <button onclick="location.href='/books?searchtag=Bachelor of Arts (BA)'" class="guide-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>
                <button class="bookNavigate-r"><i class="fas fa-angle-double-right"></i></button>
                <button class="bookNavigate-l"><i class="fas fa-angle-double-left"></i></button>
                <hr>
                <div class="books">
                <% var i=0; %>
                <% books.forEach(function(book){ %>
                   <% if(book.category.findIndex(category => category.book_category === "Bachelor of Arts (BA)")!=-1 && i<15) {%>
                   <% i=i+1 %>
                    <div class="book-outer" >
                        <div class="book">
                            <button onclick="location.href='<%=book.book_file_download_link%>'" class="floating-add"><i class="fas fa-cloud-download-alt fa-2x"></i></button>
                            <img onclick="location.href='/book/<%=book.id%>'" class="book-cover" src="<%=book.book_cover_cloudinary_link%>" alt="" >
                            <hr>
                            <div class="user-download">
                                <a class="book-read" href="<%=book.book_file_link%>" target="_blank">Read</a>
                                <button onclick="location.href='/reviews/<%=book.id%>'" class="review-book"><i class="fas fa-comment-dots fa-2x"></i></button>
                                <button onclick="add_to_fav('<%=book.id%>')" id="add_fav"><i class="fas fa-heart fa-2x <%=book.id%>"></i></button>
                            </div>
                        </div>
                        <% if(book.book_name.length<=65){ %>
                            <p class="book-name"><%=book.book_name%></p>
                        <% } else {%>
                            <p class="book-name"><%=book.book_name.substr(0,65)%> ...</p>
                        <% } %>
                    </div>  
    
                  <% } %> 
                <% }) %>
                <div class="show_more_books">
                   <a href="/books?searchtag=Bachelor of Arts (BA)">Show more..</a> 
                </div>
                </div>          
            </div> 
    
    
            <div class="course">
                <h2 class="course-title">Competetive Exams</h2>
                <button onclick="location.href='/books?searchtag=Competetive Exams'" class="guide-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>
                <button class="bookNavigate-r"><i class="fas fa-angle-double-right"></i></button>
                <button class="bookNavigate-l"><i class="fas fa-angle-double-left"></i></button>
                <hr>
                <div class="books">
                <% var i=0; %>
                <% books.forEach(function(book){ %>
                   <% if(book.category.findIndex(category => category.book_category === "Competetive Exams")!=-1 && i<15) {%>
                    <% i=i+1 %>
                    <div class="book-outer" >
                        <div class="book">
                            <button onclick="location.href='<%=book.book_file_download_link%>'" class="floating-add"><i class="fas fa-cloud-download-alt fa-2x"></i></button>
                            <img onclick="location.href='/book/<%=book.id%>'" class="book-cover" src="<%=book.book_cover_cloudinary_link%>" alt="" >
                            <hr>
                            <div class="user-download">
                                <a class="book-read" href="<%=book.book_file_link%>" target="_blank">Read</a>
                                <button onclick="location.href='/reviews/<%=book.id%>'" class="review-book"><i class="fas fa-comment-dots fa-2x"></i></button>
                                <button onclick="add_to_fav('<%=book.id%>')" id="add_fav"><i class="fas fa-heart fa-2x <%=book.id%>"></i></button>
                            </div>
                        </div>
                        <% if(book.book_name.length<=65){ %>
                            <p class="book-name"><%=book.book_name%></p>
                        <% } else {%>
                            <p class="book-name"><%=book.book_name.substr(0,65)%> ...</p>
                        <% } %>
                    </div>  
    
                  <% } %> 
                <% }) %>
                <div class="show_more_books">
                   <a href="/books?searchtag=Competetive Exams">Show more..</a> 
                </div>
                </div>          
            </div> 
    
            <div class="course">
                <h2 class="course-title">Secondary Education Class 6th-12th</h2>
                <button onclick="location.href='/books?searchtag=Secondary'" class="guide-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>
                <button class="bookNavigate-r"><i class="fas fa-angle-double-right"></i></button>
                <button class="bookNavigate-l"><i class="fas fa-angle-double-left"></i></button>
                <hr>
                <div class="books">
                <% var i=0; %>
                <% books.forEach(function(book){ %>
                   <% if(book.category.findIndex(category => category.book_category === "Secondary")!=-1 && i<15) {%>
                   <% i=i+1 %>
                    <div class="book-outer" >
                        <div class="book">
                            <button onclick="location.href='<%=book.book_file_download_link%>'" class="floating-add"><i class="fas fa-cloud-download-alt fa-2x"></i></button>
                            <img onclick="location.href='/book/<%=book.id%>'" class="book-cover" src="<%=book.book_cover_cloudinary_link%>" alt="" >
                            <hr>
                            <div class="user-download">
                                <a class="book-read" href="<%=book.book_file_link%>" target="_blank">Read</a>
                                <button onclick="location.href='/reviews/<%=book.id%>'" class="review-book"><i class="fas fa-comment-dots fa-2x"></i></button>
                                <button onclick="add_to_fav('<%=book.id%>')" id="add_fav"><i class="fas fa-heart fa-2x <%=book.id%>"></i></button>
                            </div>
                        </div>
                        <% if(book.book_name.length<=65){ %>
                            <p class="book-name"><%=book.book_name%></p>
                        <% } else {%>
                            <p class="book-name"><%=book.book_name.substr(0,65)%> ...</p>
                        <% } %>
                    </div>  
    
                  <% } %> 
                <% }) %>
                <div class="show_more_books">
                   <a href="/books?searchtag=Secondary">Show more..</a> 
                </div>
                </div>          
            </div> 
    
    
            <div class="course">
                <h2 class="course-title">Novel or Fictional Books</h2>
                <button onclick="location.href='/books?searchtag=Novel or Fiction'" class="guide-arrow"><i class="fas fa-long-arrow-alt-right"></i></button>
                <button class="bookNavigate-r"><i class="fas fa-angle-double-right"></i></button>
                <button class="bookNavigate-l"><i class="fas fa-angle-double-left"></i></button>
                <hr>
                <div class="books">
                <% var i=0; %>
                <% books.forEach(function(book){ %>
                   <% if(book.category.findIndex(category => category.book_category === "Novel or Fiction")!=-1 && i<15) {%>
                   <% i=i+1 %>
                    <div class="book-outer" >
                        <div class="book" >
                            <button onclick="location.href='<%=book.book_file_download_link%>'" class="floating-add"><i class="fas fa-cloud-download-alt fa-2x"></i></button>
                            <img onclick="location.href='/book/<%=book.id%>'" class="book-cover" src="<%=book.book_cover_cloudinary_link%>" alt="" >
                            <hr>
                            <div class="user-download">
                                <a class="book-read" href="<%=book.book_file_link%>" target="_blank">Read</a>
                                <button onclick="location.href='/reviews/<%=book.id%>'" class="review-book"><i class="fas fa-comment-dots fa-2x"></i></button>
                                <button onclick="add_to_fav('<%=book.id%>')" id="add_fav"><i class="fas fa-heart fa-2x <%=book.id%>"></i></button>
                            </div>
                        </div>
                        <% if(book.book_name.length<=65){ %>
                            <p class="book-name"><%=book.book_name%></p>
                        <% } else {%>
                            <p class="book-name"><%=book.book_name.substr(0,65)%> ...</p>
                        <% } %>
                    </div>  
    
                  <% } %> 
                <% }) %>
                <div class="show_more_books">
                   <a href="/books?searchtag=Novel or Fiction">Show more..</a> 
                </div>
                </div>          
            </div> 
            
        </section>
    </main_body>
    
    <section id="help">
        <button class="font-design-b" id="f-btn" onclick="showfeed()"><i class="fas fa-pen"></i> feedback</button>
        <div>
          <form class="submitfd" id="feedback">
              <p class="font-design-p">Help us to imrove our site</p>
              <hr>
              <textarea name="text" id="feedtxt" cols="6" rows="6" placeholder="Type here" required></textarea>
              <button class="font-design-b feed-btn" id="fd" type="submit">submit</button>
              <hr>
          </form>
        </div>
    </section>
    <script>
        function showToast(){
            $("body").append(`
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;top:70px;">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                    <img src="/images/enable.png" width="40px" class="rounded me-2" alt="...">
                    <strong class="me-auto">Enable Notifications! </strong>
                    <small>Just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                    Please enable notifications from setting otherwise you will not be able to recieve important messages
                    </div>
                </div>
            </div>`)
            $(".toast").toast('show')
        }
    </script>
    <div id="snackbar"></div>
    <footer>
        <div>
            <notauth>
                <button onclick="location.href='/login'">Login</button>
                <button onclick="location.href='/signup'"><i class="fas fa-sign-in-alt"></i> SignUp</button>
                <button onclick="location.href='/auth/google'" class="google"><i class="fab fa-google"></i> SignIn</button>
              </notauth>
              <auth>
                  <button onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Logout</button>
              </auth>
        </div>
  <%- include("../partials/footer") -%>      
   
  <script>if(window.innerWidth>=500){
    document.body.style.zoom = "90%";
}</script>